.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: white;
  padding-top: 4rem;
  min-height: 100vh;
  padding-top: 8%;
}

@font-face {
  font-family: captain;
  src: url('./assets/fonts/captain.otf');
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .App {
    padding-top: 15%;
  }
}

@media only screen and (max-width: 575px) {
  .App {
    padding-top: 40%;
  }
}

.navbar {
  background-color: #881222 !important;
  border-bottom: 1px solid white;
}

.logo {
  width: 100%;
}